<mat-toolbar>
    <button mat-icon-button color="primary" routerLink="">
        <mat-icon>home</mat-icon>
    </button>
    <span class="text">CADASTRO DE EMPRESAS</span>
    <span class="header-spacer"></span>
    <span class="text">Menu</span>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">        
        <button mat-menu-item routerLink="/cadastrarEmpresa">Cadastrar Empresas</button>
        <button mat-menu-item routerLink="/listarEmpresas">Empresas Cadastradas</button>
    </mat-menu>    
</mat-toolbar>
