.matcard{
    margin: 25px; 
    display: flex;
    flex-direction: column;
    align-items: center;

    &_filter{
        width: 50%;
    }

    &_table{
        width: 100%;

        th{
            color: black;
            font-size: large;
        }
        
    }     
}

button{
     margin: 5px;
}

