.matcard{
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;

    &_filter{
        width: 50%;
    }

    &_table{
        width: 100%;
        
    }     
}

button{
     margin: 5px;
}

