.container{
    margin-top: 100px;    

    &_card{
        padding: 25px;
        
        
        &_form{
            display: flex;
            flex-direction: column;

            &_div{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                &_input{
                    width: 45%;
                }

                &_select{
                    width: 95%;
                }

                &_button{
                    width: 45%;
                    
                }
            }
        }
    }
    
    
 
    
    

}

