<mat-card class="matcard mat-elevation-z8">
    <div class="matcard_divE">
        <div class="matcard_divE_img">            
            <img class="matcard_divE_img_chapeu" src="../../assets/images/Logotipo Álvaro 1 - Fundo Claro Chapeu.png">
        </div>
        <div class="matcard_divE_text">
            <img class="matcard_divE_text_nome" src="../../assets/images/Logotipo Álvaro 1 - Fundo Claro Texto.png">
        </div>
    </div>
    <div class="matcard_divD">
        <h1>Projeto Cadastro de Empresa</h1>
        <h2>Desenvolvido com as seguintes tecnologias:</h2>
        <h3>Back-end: Java com Spring Boot</h3>
        <h3>Front-end: Angular</h3>
        <h4>Desenvolvido em: Julho de 2022</h4>
        <br>
        <br>
        <h1>Autor: Álvaro Augusto Pereira</h1>
        <h2>Função: Application Developer</h2>
        <h2>Equipe: DevSecOps</h2>
        <h2>Empresa: IBM</h2>
        



    </div>

</mat-card>

