<mat-card class="container">
    <h1>Tem certeza que deseja deletar a empresa?</h1>
    <h2> Cnpj: {{cademId.cnpj}} </h2>
    <h2> Razão Social: {{cademId.razaoSocial}} </h2>
    <h2> Nome Fantasia: {{cademId.nomeFantasia}} </h2>
    <div class="container_div">
        <button mat-raised-button class="container_card_form_div_button" color="warn" (click)="delete()" >Deletar</button>
        <button mat-raised-button class="container_card_form_div_button" color="accent" (click)="cancel()">Cancelar</button>
    </div> 
</mat-card>
