<mat-card class="container">
    <p>tem certeza que deseja deletar a empresa?</p>
    <p> Cnpj: {{cademId.cnpj}} </p>
    <p> Razão Social: {{cademId.cnpj}} </p>
    <p> Nome Fantasia: {{cademId.cnpj}} </p>
    <div class="container_card_form_div">
        <button mat-raised-button class="container_card_form_div_button" color="primary" (click)="delete()" >deletar</button>
        <button mat-raised-button class="container_card_form_div_button" color="warn" (click)="cancel()">cancelar</button>
    </div> 
</mat-card>
