.container{
    width: 30%;
    margin-top: 100px;
    display: flex;    
    flex-direction: column;
    align-items: center;
    color: yellow;
    background-color: #673AB7;

    &_div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}